<div class="py-3">
  <div class="row">
    <form class="row col-12 col-md-9">
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          name="search"
          placeholder="Search products..."
          id="search"
        />
      </div>
      <app-custom-button [btn]="searchBtn"></app-custom-button>
    </form>
    <div class="col-12 col-md-3">
      <app-custom-button
        [btn]="addProductBtn"
        (customClick)="toAddProduct()"
      ></app-custom-button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of productList" class="col-12 col-lg-6 my-2">
      <app-product-item [product]="item"></app-product-item>
    </div>
  </div>
</div>
