<div class="py-3">
  <div class="row">
    <form class="row col-12 col-md-9">
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          name="search"
          placeholder="Search products..."
          id="search"
        />
      </div>
      <app-custom-button color="primary" text="Search"></app-custom-button>
    </form>
    <div class="col-12 col-md-3">
      <app-custom-button
        color="secondary"
        text="Add Product"
        (customClick)="toAddProduct()"
      ></app-custom-button>
    </div>
  </div>
  <app-product-item></app-product-item>
</div>
