<div class="row bg-primary justify-content-between">
  <div class="col-9 col-md-4 align-baseline">
    <h5>Market Management System</h5>
  </div>
  <div class="col-3 col-md-6">
    <div class="row align-items-center">
      <div class="d-none d-md-block col-md-3">
        <a href="#" class="text-light">Home</a>
      </div>
      <div class="d-none d-md-block col-md-3">
        <a href="#" class="text-light">About</a>
      </div>
      <div class="d-none d-md-block col-md-3">
        <a href="#" class="text-light">Contact us</a>
      </div>
      <div class="col-12 col-md-3">
        <app-custom-button text="Signout" color="danger"></app-custom-button>
      </div>
    </div>
  </div>
</div>
