<app-header [links]="headerLinks" [btn]="signOutBtn"></app-header>

<div class="row">
  <app-sidebar class="d-none d-md-block col-md-3 bg-light"></app-sidebar>
  <form
    class="col-12 col-md-8 col-lg-6 mx-auto mt-5"
    #userlogin="ngForm"
    ngNativeValidate
  >
    <p class="text-danger">{{ error }}</p>
    <div class="form-group">
      <div class="d-flex justify-content-between">
        <label for="category">Category</label>
        <app-custom-button
          [btn]="addCategoryBtn"
          (customClick)="toAddCategory()"
        ></app-custom-button>
      </div>
      <select
        (change)="changeCategorySelect($event)"
        class="form-control"
        id="category"
        name="category"
        required
      >
        <option
          *ngFor="let item of categoryList"
          value="{{ item.name }}"
          [selected]="selectedCategory === item.name"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="subcategoryname">Subcategory Name</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="name"
        (change)="updateSubcategoryname($event)"
        id="subcategoryname"
        placeholder="Enter Subcategory Name"
        name="subcategoryname"
        maxlength="15"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="subcategory-description">Subcategory Desctiption</label>
      <textarea
        type="text"
        class="form-control"
        id="subcategory-description"
        placeholder="Enter Subcategory Description"
        name="subcategory-description"
        [ngModel]="description"
        (change)="updateSubcategorydescription($event)"
        ngModel
        rows="3"
        maxlength="1000"
      ></textarea>
    </div>
    <app-custom-button
      [btn]="selectedBtn"
      (customClick)="selectedFnc()"
    ></app-custom-button>
  </form>
</div>
