<form class="col-12 col-md-8 col-lg-6 mx-auto mt-5" #userlogin="ngForm">
  <div class="form-group">
    <label for="categoryname">Category Name</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="name"
      id="categoryname"
      placeholder="Enter Category Name"
      name="categoryname"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="category-description">Category Desctiption</label>
    <textarea
      type="text"
      class="form-control"
      id="category-description"
      placeholder="Enter Category Description"
      name="category-description"
      ngModel
      rows="3"
    ></textarea>
  </div>
  <app-custom-button
    type="submit"
    color="primary"
    col="12"
    text="Login"
  ></app-custom-button>
</form>
