<h1 class="text-center text-dark">Categories</h1>
<app-custom-button
  [btn]="addCategoryBtn"
  (customClick)="addCategory()"
></app-custom-button>
<div *ngFor="let item of categoryList">
  <div class="btn-group mt-3 col-12">
    <a
      type="button"
      class="btn btn-lg btn-outline-light"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      style="border: 0"
      (click)="updateCategory(item.name)"
    >
      <i class="fa fa-edit"></i>
    </a>
    <a
      class="btn btn-outline-light btn-lg"
      (click)="searchByCategory(item.name)"
      type="button"
      style="border: 0"
    >
      {{ item.name }}
    </a>
    <a
      type="button"
      class="btn btn-lg btn-outline-light dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      style="border: 0"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <div class="dropdown-menu">
      <app-custom-button
        [btn]="addSubcategoryBtn"
        (customClick)="addSubcategory()"
      ></app-custom-button>
      <div *ngFor="let i of subcategoryList">
        <div *ngIf="i.category_name === item.name">
          <div class="btn-group">
            <a
              type="button"
              class="btn btn-lg btn-outline-info"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="border: 0"
              (click)="updateSubcategory(item.name, i.name)"
            >
              <i class="fa fa-edit"></i>
            </a>
            <a
              class="btn btn-outline-info btn-lg"
              type="button"
              style="border: 0"
              (click)="searchBySubcategory(item.name, i.name)"
            >
              {{ i.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
